/* 
font-family: 'Holtwood One SC', serif;
*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

.container {
  max-width: 980px;
  width: 95%;
  margin: auto;
}

/* Header */

.headline {
  text-align: center;
  font-family: "Holtwood One SC", serif;
  font-size: 2.5em;
  text-decoration: underline;
}

h2 {
  font-size: 1.4em;
  font-family: "Bree Serif", serif;
  margin-top: 2em;
}

p {
  line-height: 1.5;
}

/* Content */
article {
  padding: 0 1em;
  border: 1px solid #ccc;
}

.row {
  display: flex;
}

.secondary-news {
  width: 25%;
}

.primary-news {
  width: 50%;
}

.primary-news img {
  max-width: 100%;
}

aside {
  width: 75%;
  border-left: 1px solid #ccc;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

aside ul li {
  width: 100%;
  padding: 1em;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.cat-link {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  color: white;
}

.cat-link:hover {
  font-size: 1.25em;
  text-decoration: underline;
}

.cat1 {
  background-color: #5465ff;
}

.cat2 {
  background-color: #788bff;
}
.cat3 {
  background-color: #9bb1ff;
}
.cat4 {
  background-color: #bfd7ff;
}
.cat-link-black {
  color: black;
}

/* Footer */
footer {
  text-align: right;
  margin-top: 5em;
  padding-top: 2em;
  font-size: 1em;
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 680px) {
  .headline {
    font-size: 1.6em;
  }
  .row {
    flex-direction: column;
  }
  .secondary-news,
  .primary-news,
  aside {
    width: 100%;
    margin-top: 1em;
  }
}
